<!DOCTYPE html>
<html>
<head>
  <title>RailsFlatironStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<% if session[:user_id]%>
  <%= render 'layouts/logged_in_header' %>
<% else %>
  <%= render 'layouts/not_logged_in_header' %>
<% end %>
<%= yield %>

</body>
</html>
